/* Entirety of the yellow background for each tab */
.box{
    align-self: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: #FFFDBA;

}

html {
    width: 100%;
    height: auto;
}

.logo{
    font-family: 'Rampart One', cursive;
    font-size: 28px;

}

h1{
    text-align:center;
    margin:none;
    padding: none;
    color:#150c6d;
    font-size: 40px;
    text-align: center;
}

/* Heading 2 specifications */
h2 {
    color:  #279d9d;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
}

.title{
    font-family: 'Roboto';
    font-size: 40px;

}

body {
    color: #000000;
    font-family: 'Roboto';
    font-size: 25px;
}

.navbar {
  width: 100%;
  background-color: #86C8BC;
  /* comment added by Sofia: this adds a large space at the bottom unncessarily */
  /*margin-top: 430px; */
  overflow: auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-size:18px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 2px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar a:hover {
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.active {
  background-color: #296a5e;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}



@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
    }   
}
/* 'Arms' text on stretching home tab */
#ArmsText {
    position: relative;
}
/* 'Legs' text on stretching home tab */
#LegsText {
    position: relative;
    
}
/* 'Abs' text on stretching home tab */
#AbsText {
    position: relative;
    
}
/* 'Back' text on stretching home tab */
#BackText {
    position: relative;
    
}
/* Clickable arms pic on stretching home tab */
#ArmsPic {
    border: 4px solid #86C8BC;
    background-color: white;

}
/* Clickable back pic on stretching home tab */
#BackPic {
    border: 4px solid  #86C8BC;
    background-color: white;
}
/* Clickable abs pic on stretching home tab */
#AbsPic {
    border: 4px solid  #86C8BC;
    background-color: white;
}

/* Clickable legs pic on stretching home tab */
#LegsPic {
    border: 4px solid  #86C8BC;
    background-color: white;

}

#SOTD {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 7rem;
    position: relative;
    bottom: 6rem;
    text-align: center;

}

/* text for more stretches text on stretching home tab */
#More_Stretches1 {
    position: relative;
    top: 3.5rem;
}

/* entire grid item for stretching home tab */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}

/* + grid item on stretching home tab */
.grid-item {
    text-align: center;
}

/* Text for swipe above on stretch home tab */
#swipeAbove {
    text-align: center;
    position: relative;
    bottom: 3rem;
}

/* The dots/bullets/indicators below SOTD */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 65rem;
  }

    /* Up Arrow for Stretch tab home page */
  #arrowUp {
    transform: rotate(270deg);
    display: block;
    position: relative;
    left: 7.5rem;
 
  }
  /* Down Arrow for Stretch tab home page */
  #arrowDown {
    transform: rotate(90deg);
    display: block;
    text-align: center;
    position: relative;
    left: 7.5rem;
  }

   /* Left Arrow for Stretch tab home page */
  #arrowLeft {
    transform: rotate(180deg);
    text-align: center;
    position: relative;
    bottom: 3rem;
  }

  /* Right Arrow for Stretch tab home page */
  #arrowRight {
    text-align: center;
    position: relative;
    bottom: 3rem;
  }

  /* 5 tabs to select on home page */
  .grid-container1 {
    display: grid;
    grid-template-columns: auto;

}

/* Each tab itself on the home page */
.grid-item1 {
    text-align: center;
    background-color: #86C8BC;
    border: 2px solid #279d9d;
    color: #FFFFFF;
    max-width: auto;
    max-height: 100%;
    font-size: 40px;
}

/* Quote of the day on the home page */
p.quote {
    text-align: center;
}

/* Streak formatting */
#MonStreak, #TueStreak, #WedStreak, #ThrStreak, #FriStreak, #SatStreak, #SunStreak {
    float: left;
}