.box{
    align-self: center;
    width: 100%;
    height: 1520px;
    border: 1px solid black;
    background-color: #FFFDBA; 
}

.logo{
    font-family: 'Rampart One', cursive;
    font-size: 60px;
}

h1{
    text-align:center;
    margin:none;
    padding: none;
    color:#150c6d;
}

.title{
    font-family: 'Roboto';
    font-size: 70px;

}
.navbar {
  width: 960px;
  position: absolute;
  bottom: 10px;
  background-color: #86C8BC;
  overflow: auto;
  list-style-type: none;
  overflow: hidden;
  font-size:18px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.icons{
    width:20px;
    height: 25px;
    margin: 5px 60px;
    padding: 0px;
}
