/* .inputdisplay .nutrientlabel{	
  display: inline-block;	
}	
.inputdisplay .nutrientinput{	
    display: inline-block;	
} */	
meter{	
    margin-left: 2em;	
    /* position: fixed;	
    bottom: 50px;	
    left: 20px; */	
    width: 55em;	
    height: 20em;	
    	
}	
meter::-webkit-meter-bar {	
    background: none; /* Required to get rid of the default background property */	
    background-color: whiteSmoke;	
    box-shadow: 0 5px 5px -5px #333 inset;	
  }	
  	
  meter::-webkit-meter-optimum-value {	
    box-shadow: 0 5px 5px -5px #999 inset;	
    background-image: linear-gradient(	
      90deg, 	
      #719fd1 5%, 	
      #719fd1 5%,	
      #719fd1 15%,	
      #719fd1 15%,	
      #719fd1 55%,	
      #719fd1 55%,	
      #719fd1 95%,	
      #719fd1 95%,	
      #719fd1 100%	
    );	
    background-size: 100% 100%;	
  }	
.nutrientlabel{	
    font-size: 3em;	
    display: inline-block;	
    margin-top: 1.5em;	
    margin-left: 1em;	
}	
.nutrientlabelg{	
    font-size: 3em;	
    display: inline-block;	
    margin-top: 1.5em;	
}	
#TN{	
    font-size: 3em;	
    margin-top: 1.5em;	
    margin-left: 7em;	
    text-align: center;	
    position: relative;

}	
#bf{	
    font-size: 3em;	
    margin-top: 1.5em;	
    margin-left: 1em;	
    text-align: center;	
}	
#lunch{	
    font-size: 3em;	
    margin-top: 1.5em;	
    margin-left: 8.7em;	
    text-align: center;	
}	
.nutrientinput{	
    font-size: 2em;	
    width: 3em;	
    direction: rtl;	
    display: inline-block;	
    margin-top: 1.5em;	
    margin-left: 1em;	
    border: black;	
    border-width: 2px;	
    border-style: solid;	
}	
.eat{	
    padding: 1em;	
    font-size: 2em;	
    margin: .5em 1em;	
}	
.nutritiontitle{	
    font-size: 3em;	
    text-align: center;	
}	
.graphtitle{	
    font-size: 3em;	
    text-align: center;	
}	
.icons{	
    width: 20px;	
    height: 25px;	
    margin: 5px 60px;	
    padding: 0px;	
}	
.radiobutton{	
    border: 0px;	
    width: 5em;	
    height: 2em;	
    margin-left: 2em;	
}	
.graphlabels{	
    font-size: 3em;	
    	
}	
.formlabel{	
    font-size: 3em;	
    display: inline-block;	
    margin-top: 1em;	
    margin-left: 1em;	
}	
.formg{	
    font-size: 3em;	
    display: inline-block;	
    margin-top: 1em;	
    	
}	
.forminput{	
    font-size: 2em;	
    width: 3em;	
    direction: rtl;	
    display: inline-block;	
    margin-top: 1em;	
    	
    border: black;	
    border-width: 2px;	
    border-style: solid;	
}	
.form-container{	
    background-color: #86C8BC;	
    color: #150c6d;	
    	
    	
    padding: 3em;	
    border: none;	
    cursor: pointer;	
    width: 90%;	
    height: 45.5em;	
    margin-bottom:9px;	
    opacity: 0.8;	
    /* overflow-y: scroll;	 */
}	
.form-popup {	
    display: none;	
    margin: 1em;	
}	
.form-container .btn:hover, .open-button:hover {	
    opacity: 1;	
}	
.open-button {	
    	
    	
    background-color: #86C8BC;	
    color: #150c6d;	
    padding: .5em;	
    font-size: 2em;	
    margin: .97em;	
    border: none;	
    cursor: pointer;	
    opacity: 0.8;	
    width: 8em;	
}	
.open-button2{	
    	
    background-color: #719fd1;	
    color: #150c6d;	
    padding: .5em;	
    font-size: 2em;	
    margin-top: 8em;	
    margin-left: 18em;	
    border: none;	
    cursor: pointer;	
    opacity: 0.8;	
    width: 8em;	
}
.box{
    align-self: center;
    width: 100%;
    height: 1520px;
    border: 1px solid black;
    background-color: #FFFDBA; 
    overflow-y:auto;
}

.logo{
    font-family: 'Rampart One', cursive;
    font-size: 60px;
}
/* This is going to be the colors, font-size, and font for regular text */
html {
    background-color: #fffae0ff;
    color: #296a5e;
    font-family: 'Roboto';
    font-size: 25px;
}

h1{
    text-align:center;
    margin:none;
    padding: none;
    color:#150c6d;
    font-size: 40px;
    text-align: center;
    margin:none;
    padding: none;
}

/* Heading 2 specifications */
h2 {

    font-family: 'Roboto';
    text-align:center;
    margin:none;
    padding: none;
    color:#150c6d;
    font-size: 38px;
}

h3 {

    font-family: 'Roboto';
    padding: none;
    color:#150c6d;
    font-size: 45px;
}
h4 {

    font-family: 'Roboto';
    padding: none;
    color: #296a5e;
    font-size: 25px;
}

button{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 32px 38px;
  text-align: center;
  font-size: 32px;
  margin: 10px 10px;
  opacity: 0.6;
  transition: 0.3s;
  align-content: center;
  text-align: center;
}

p{
    color: #000000;
    font-family: 'Roboto';
    font-size: 35px;
}
.smalltext{
    color: #000000;
    font-family: 'Roboto';
    font-size: 12pxpx;
}

/* 'Arms' text on stretching home tab */
#ArmsText {
    position: relative;
    right: 15px;
}
/* 'Legs' text on stretching home tab */
#LegsText {
    position: relative;
    
}
/* 'Abs' text on stretching home tab */
#AbsText {
    position: relative;
    left: 20px;
    
}
/* 'Back' text on stretching home tab */
#BackText {
    position: relative;
    
}
/* Clickable arms pic on stretching home tab */
#ArmsPic {
    border: 4px solid #86C8BC;
    background-color: white;

}
/* Clickable back pic on stretching home tab */
#BackPic {
    border: 4px solid  #86C8BC;
    background-color: white;
}
/* Clickable abs pic on stretching home tab */
#AbsPic {
    border: 4px solid  #86C8BC;
    background-color: white;
}

/* Clickable legs pic on stretching home tab */
#LegsPic {
    border: 4px solid  #86C8BC;
    background-color: white;

}

#SOTD {
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    bottom: 6rem;
    border: 4px solid #86C8BC
}

/* text for more stretches text on stretching home tab */
#More_Stretches1 {
    position: relative;
    top: 2rem;
}

/* entire grid item for stretching home tab */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}

/* + grid item on stretching home tab */
.grid-itemA, .grid-itemB, .grid-itemC, .grid-itemD, .grid-itemE, .grid-itemF, .grid-itemG, .grid-itemH, .grid-itemI{
    text-align: center;
    
}

/* Text for swipe above on stretch home tab */
#swipeAbove {
    text-align: center;
    position: relative;
    bottom: 3rem;
    font-size: 25px;
}

/* The dots/bullets/indicators below SOTD */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 47rem;
  }

    /* Up Arrow for Stretch tab home page */
  #arrowUp {
    transform: rotate(270deg);
    display: block;
    position: relative;
    left: 5rem;
 
  }
  /* Down Arrow for Stretch tab home page */
  #arrowDown {
    transform: rotate(90deg);
    display: block;
    text-align: center;
    position: relative;
    left: 5rem;
  }

   /* Left Arrow for Stretch tab home page */
  #arrowLeft {
    transform: rotate(180deg);
    text-align: center;
    position: relative;
    bottom: 3rem;
  }

  /* Right Arrow for Stretch tab home page */
  #arrowRight {
    text-align: center;
    position: relative;
    bottom: 3rem;
  }

  /* 5 tabs to select on home page */
  .grid-container1 {
    display: grid;
    grid-template-columns: auto;

}

/* Each tab itself on the home page */
.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5  {
    background-color: #86C8BC;
    border: 2px solid #279d9d;
    color: #000000;
    max-width: auto;
    height: 7rem;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

/* Quote of the day on the home page */
div#quote {
    text-align: center;
    max-height: 10rem;
    font-size: 30px;
}

/* alignment for home tab click text above tabs */
#clicktabs {
    text-align: center;
    font-size: 40px;
}

/* Streak formatting */
#MonStreak, #TueStreak, #WedStreak, #ThrStreak, #FriStreak, #SatStreak, #SunStreak {
    display: inline;
}

/* This will center align the div containing the streak on home page*/
#streakControl {
    text-align: center;
}

/* Grid for the Days of the week on the home page */
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

/* individual DOW grid items for M-Sun */
.grid-item6 {
    text-align: center;
    max-width: 4px;
    position: relative;
    left: 10px;
}

/* Formatting for the level on the home/stretching page */
#level {
    font-style: italic;
}

.button:hover {opacity: 1}

.title{
    font-family: 'Roboto';
    font-size: 70px;

}

.learning{
    padding-left: 160px;
}

#physicalHealth, #mental, #healthcare, #lifestyle{
    text-align: left;
    padding: 30px 90px;
    font-size:28px;
}

.navbar {
  width: 960px;
  position: absolute;
  bottom: 10px;
  background-color: #86C8BC;
  overflow: auto;
  list-style-type: none;
  overflow: hidden;
  font-size:18px;
  margin-bottom: none;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.icons{
    width: 20px;
    height: 25px;
    margin: 5px 60px;
    padding: 0px;
}

/* Button to click to get to the survey for first time users */
#firstTimeB, #logout {
    position: relative;
    left: 10rem;
}

#numberOf {
    display: inline;
    position: relative;
    left: 300px;
    font-weight: bold;
    color:#f4511e
}

#next {
    display: inline;
    position: relative;
    left: 360px;
}


.textinput{
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
    
}
.slidecontainer {
    width: 80%; /* Width of the outside container */
    padding-left: 75px;
  }

  .slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #150c6d; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* The slider handle*/
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #279d9d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }